{% extends "lots/base.html" %}

{% load staticfiles %}

{% block styles %}
  <link href="{% static 'lots/lots.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
  {% verbatim %}
  <div class="container" id="lots-app">
    <div class="row">
      <div class="col-sm-5">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">
              <a data-toggle="collapse" href="#lots-collapse">签</a>
            </h3>
          </div>
          <div id="lots-collapse" class="panel-collapse collapse">
            <ul class="list-group">
              <li class="list-group-item" v-for="lot in lots">{{ lot.name }}</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-sm-2">
        <button type="button" class="btn btn-info btn-block" v-on:click="draw">抽签</button>
      </div>

      <div class="col-sm-5">
        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title">结果</h3>
          </div>
          <div class="panel-body">
            <p v-if="result">{{ result.name }}</p>
          </div>
        </div>
      </div>
    </div>

  </div>
  {% endverbatim %}
{% endblock %}

{% block scripts %}
<script>
Vue.use(VueResource);

new Vue({
    el: '#lots-app',
    created: function() {
      this.$http.get('api/sets/1/lots/').then((response) => {
        console.log(response);
        if (response.status == 200) {
          this.lots = response.data;
        }
      });
    },
    data: {
      lots : [],
      result: {},
    },
    methods: {
      draw() {
        random = Math.floor((Math.random() * this.lots.length));
        this.result = this.lots[random];
      }
    }
  });
</script>
{% endblock %}